<?xml version="1.0" encoding="utf-8"?>
<Container>
  <Name>Valetudo RE mapper</Name>
  <Category>HomeAutomation:Other Other:</Category>
  <Date>2021-04-23</Date>
  <Support>https://github.com/psperber/unraid-docker-templates/issues</Support>
  <Description>Valetudo RE - experimental vacuum software, cloud free</Description>
  <Registry>https://hub.docker.com/r/rand256/valetudo-mapper/</Registry>
  <GitHub>https://github.com/psperber/unraid-docker-templates</GitHub>
  <Repository>rand256/valetudo-mapper:latest</Repository>
  <Beta>False</Beta>
  <Privileged>false</Privileged>
  <Networking>
    <Mode>bridge</Mode>
    <Publish>
      <Port>
        <HostPort>3000</HostPort>
        <ContainerPort>3000</ContainerPort>
        <Protocol>tcp</Protocol>
        <Name>TCP Port</Name>
      </Port>
    </Publish>
  </Networking>
  <Data>
    <Volume>
      <HostDir>/mnt/user/appdata/valetudo-mapper/config.json</HostDir>
      <ContainerDir>/app/config.json</ContainerDir>
      <Mode>rw</Mode>
    </Volume>
  </Data>
  <Banner>https://raw.githubusercontent.com/psperber/unraid-docker-templates/master/psperber/img/valetudo-re-mapper.png</Banner>
  <Icon>https://raw.githubusercontent.com/psperber/unraid-docker-templates/master/psperber/img/valetudo-re-mapper.png</Icon>
  <TemplateURL>https://raw.githubusercontent.com/psperber/unraid-docker-templates/master/psperber/valetudo-re-mapper.xml</TemplateURL>
</Container>
